<div style="width: 100% ; background-color: chartreuse;">
  <sky-toolbar>
    <sky-toolbar-item>
      <button
        class="sky-btn sky-btn-primary"
        id="edit-btn"
        (click)="openModal()"
      >
        Edit
      </button>
    </sky-toolbar-item>
    <sky-toolbar-item>
      <sky-search
        [searchText]="searchText"
        [debounceTime]="250"
        (searchApply)="searchApplied($event)"
        (searchChange)="searchApplied($event)"
        (searchClear)="searchApplied($event)"
      >
      </sky-search>
    </sky-toolbar-item>
  </sky-toolbar>
  <sky-ag-grid-wrapper>
    <ag-grid-angular [gridOptions]="gridOptions" [rowData]="gridData">   \ </ag-grid-angular>
  </sky-ag-grid-wrapper>
</div>

<!-- 
  <sky-grid fit="scroll" [data]="gridData">

    <sky-grid-column field="firstName" heading="First Name">

    </sky-grid-column>

    <sky-grid-column field="lastName" heading="Last Name">

    </sky-grid-column>

    <sky-grid-column field="phoneNumber" heading="Contact No.">

    </sky-grid-column>

    <sky-grid-column field="email" heading="Email">

    </sky-grid-column>

    <sky-grid-column field="date" heading="DOB">

    </sky-grid-column>

    <sky-grid-column field="address" heading="Address">

    </sky-grid-column>

  </sky-grid>  -->